<% provide :title,"Log in" %>
<h1>Log in </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(:session,url:login_path) do |f| %>
      <div class="form-group">
        <%= f.input :email, input_html: { class: "form-control"} %>
        <%= f.input :password, input_html: { class: "form-control"} %>
        <%= link_to '(forgot password)',new_password_reset_path %>
        <%= f.input :remember_me,as: :boolean %>
      </div>
      <%= f.submit "Log in", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
      <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>

</div>
